:root {
    --bg-col: #00111CFF;
    --bg-col-light: #11222DFF;
    --bg-col-light-2: #22333EFF;
    --bg-col-light-3: #55666FFF;
    --font-color: #fff;
    --font-color-2: #aaa;
}

body {
    background: var(--bg-col);
    color: var(--font-color);
}

div.header {
    background: var(--bg-col);
}

#nav-tree {
    background: var(--bg-col-light-2);
}

#titlearea {
    background: var(--bg-col);
    border-bottom: none;
}

#main-menu {
    background: var(--bg-col-light);
    border-bottom: 1px solid var(--bg-col-light-2);
    border-top: 1px solid var(--bg-col-light-2);
}

#MSearchBox {
    background: var(--bg-col);
    box-shadow: none;
    border: 1px solid var(--bg-col-light-2);
}

#MSearchField {
    font-size: inherit;
}

#MSearchSelectWindow {
    border: none;
    background: var(--bg-col-light);
}

a.SelectItem {
    color: var(--font-color);
}

a.SelectItem:hover {
    background: var(--bg-col-light-2);
    color: var(--font-color-2);
}

span.SelectionMark {
    color: var(--bg-col-light-3);
}

div.sm.sm-dox {
    background: none;
    padding: 0;
}

.sm-dox a, .sm-dox a:focus, .sm-dox a:active, .sm-dox a:hover, .sm-dox a.highlighted {
    background: none;
}

a.el {
    color: var(--font-color);
}

.navpath ul {
    background: none;
    border: none;
}

.ui-resizable-e {
    background: none;
}

.directory tr.even {
    background: var(--bg-col-light-2);
}

.directory tr.odd {
    background: var(--bg-col-light);
}

.classindex dl.even {
    background: var(--bg-col-light-2);
}

.classindex dl.odd {
    background: var(--bg-col-light);
}

.fragment {
    background: var(--bg-col-light);
}