body {
    background: #223;
}

.header .headertitle {
    background: #1B2840;
}

#titlearea {
    background: #1B2840;
}

.sm-dox {
    background-image: none;
    background #1B2840;
}

#main-nav {
    background: #1B2840;
}

.fragment {
    background: #212;
}

header {
    background: #333;
}